html
  head
    title= title
    link(rel='stylesheet', href='./css/bootstrap.css')
  body  
    .container
        .jumbotron
          h1.text-center=title
        .row
          each movie in movies
              .col-md-4
                .card.mb-4.text-center
                  a(href=movie.ID)
                    img.card-img-top(src=movie.Images.EventMediumImagePortrait, alt=movie.OriginalTitle)
                  if movie.Events && movie.Events.length > 0
                    .card-footer.text-muted=dateFns.format(new Date(`${movie.Events[0].dttmShowStart}`), 'dd.MM.yyyy HH:mm')
                  else 
                    .card-footer.text-muted='Nav seansu'
    script(src="./js/bootstrap.bundle.js") 
