html
  head
    title= title
    link(rel='stylesheet', href='./css/bootstrap.css')
  body  
    .container
        if movie
            .row
                .col-md-4 
                    img.d-block.mx-auto.img-fluid.w-100(src=movie.Images.EventMediumImagePortrait)
                .col-md-8
                    h1.text-center=movie.OriginalTitle 
                    p=movie.ShortSynopsis
                    p=movie.Genres
                    p=movie.RatingLabel
        if movie && movie.Events && movie.Events.length > 0
            .row
                table.table.table-stripped.table-bordered.table-hover(size='sm')
                    thead 
                        tr 
                            th(scope='col')='#'
                            th(scope='col')='Vieta'
                            th(scope='col')='Seansa sākums'
                            th(scope='col')='Valoda'
                            th(scope='col')='Veids'
                    tbody
                        each event, index in movie.Events 
                            tr 
                                td=index+1 
                                td=event.Theatre 
                                td=dateFns.format(new Date(`${event.dttmShowStart}`), 'dd.MM.yyyy HH:mm')
                                td=event.SpokenLanguage.Name
                                td=event.PresentationMethod
    script(src="./js/bootstrap.bundle.js") 
